{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock title %}

{% block navbar %}
<div class="navbar navbar-inverse">
    <a class="navbar-brand" href="/">Escape IT</a>
    <ul class="nav navbar-nav">
        <li><a href="#">Games</a></li>
        <li><a href="#">Puzzles</a></li>
        <li><a href="#">Players</a></li>
    </ul>
</div>
{% endblock navbar%}

{% block content %}
<h1>Welcome to the server</h1>


<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Active games</h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Game name</th>
                        <th>Active</th>
                    </tr>
                </thead>
                <tbody id="game_table_body">
                    {% for game in games %}
                    <tr>
                        <td>{{ game.game_name }}</td>
                        <td>{{ game.active }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <button class="btn btn-info btn-lg" data-toggle="modal" data-target="#CreateNewGame">Create new
                game</button>
        </div>
    </div>
</div>

<div id="CreateNewGame" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Create new game</h3>
            </div>
            <div class="modal-body">
                <form id="create_new_game_form" role="form" onsubmit="return create_new_game()">
                    <legend>Enter the following information to create a new game:</legend>

                    <div class="form-group">
                        <label for="game_name">Game name:</label>
                        <input type="text" class="form-control" id="game_name" required>
                    </div>
                    <div class="form-group">
                        <label for="game_password">Game password</label>
                        <input type="password" class="form-control" id="game_password" required>
                    </div>
                    <div class="form-group">
                        <label for="number_of_players">Number of players</label>
                        <input type="number" class="form-control" id="number_of_players" min=1 max=5 required>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block scripts %}
<script src="{{url_for('webserver.static', filename='main.js')}}"></script>
{{super()}}
{% endblock scripts %}